* {
    padding-top: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
  }

html {
    background-image: linear-gradient(#1F2023, #424472);
}
body {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: aliceblue;
}

select .categories {
    text-align-last:right;
    padding-right: 29px;
    direction: rtl;
}

#button {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    border: 0.1rem solid #C295FF;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #C295FF;
    background-color: white;
}
#button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #872BFF ;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
#button [disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#Difficulty {
    margin-top: 1.1%;
    margin-bottom: 1.1%;
}

#categories {
    margin-top: 1.1%;
    margin-bottom: 1.1%;
}

#GameMode {
    margin-bottom: 1.1%;
}


#HighScore {
    text-align: center;
    font-family: "Press Start 2P", sans-serif;
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 1.1%;
    margin-bottom: 1.1%;
    font-size: 1rem;
    background-color: rgba(59, 61, 70, 0);
    color: #ffffff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

#custom {
    font-size: 1rem;
    padding: 1rem 0;
    width: 11rem;
    text-align: center;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    border: 0.1rem solid #C295FF;
    margin-bottom: .5rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #424472;
}
#custom:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #872BFF ;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
#custom [disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.light {
  height: 100%;
  width: 100%;
  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
  }
  &:before {
    width: 120%;
    height: 120%;
    top: 40%;
    left: -25%;
    background: radial-gradient(48.58% 48.58% at 49.96% 59.07%, #927CFF 0%, rgba(142, 133, 190, 0.4) 43.23%, rgba(59, 61, 70, 0) 100%);
  }
  &:after {
    width: 120%;
    height: 100%;
    top: 65%;
    left: 25%;
    background: radial-gradient(48.58% 48.58% at 49.96% 59.07%, #FFF38B 0%, rgba(180, 174, 113, 0.45) 38.02%, rgba(59, 61, 70, 0) 100%);
  }
}
.star1 {
  animation: 3s linear 1s infinite alternate twinkle;
}
.star2 {
  animation: 4s linear 0s infinite alternate twinkle;
}
.star3 {
  animation: 3.5s linear 0.5s infinite alternate twinkle;
}
.star4 {
  animation: 1.25s linear 1.5s infinite alternate twinkle;
}
.star5 {
  animation: 4s linear 2s infinite alternate twinkle;
}
.star6 {
  animation: 2.5s linear 1s infinite alternate twinkle;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 

header {
    display: flex;
    margin-top: 100;
    justify-content: center;
    padding: 2%;
    color:rgb(249, 221, 238)
}

h1 {
    margin:15px;
    font-size: 200%;
    font-family: "Honk", sans-serif;
}

h2 {
    margin: 15px;
    font-size: 200%;
    font-family: "Honk", sans-serif;
  }

h3 {
    margin-top: 40px;
    font-size: 90%;
    font-family: "Press Start 2P", sans-serif;
  }


#dropdown-menu {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dropdown-menu li {
    transition: background-color .2s ease;
}

#dropdown-menu li:hover {
    background-color: #aac5e1;
}

#dropdown-menu .menu {
    background-color: #b66d9b;
    border: 1px solid #c68282;
}



